<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hospital Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/index.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
        </script>
</head>

<body>
    <div class="container">
        <h1 class="banner">Welcome To Hospitals Page</h1>
        <div class="section editor">
            <label for="hospitalName">Hospital Name
                <input id="hospitalName" type="text" />
            </label>
            <br>
            <label for="hospitalCategory">Hospital Category
                <input id="hospitalCategory" type="text" />
            </label>
            <br>
            <label for="hospitalCity">Hospital City
                <input id="hospitalCity" type="text" />
            </label>
            <button id="addHospital">Add New Hospital</button>
            <button id="addDoctor">Add New Doctor</button>
            <button id="listAllHospitals">List Hospitals</button>
            <!-- <button id="update">Update</button>
            <button id="delete">Delete</button> -->
            <button id="reset">Reset</button>
        </div>
        <div class="people">
            <table>
                <caption>Hospitals</caption>
                <thead>
                    <tr>
                        <th>Hospital Id</th>
                        <th>Hospital Name</th>
                        <th>Hospital Category</th>
                        <th>Hospital City</th>
                        <th>No of Doctors</th>
                        <th>No of Patients</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="error">
        </div>
    </div>
</body>
<script src="static/js/index.js"></script>

</html>